// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0553c96f;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mild-black: rgb(33, 34, 36);
$faded-mild-black: rgba(33, 34, 36, 0.827);
$purple: rgb(43,11,83);
$off-white: rgb(245, 245, 245);
