
.banner {
  background-image: asset-url("BL4A8507.JPG");
  background-size: cover;
  background-position: center;
  padding: 230px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-category-home{
color:white;
background-color: rgba(43,11,83, 0.7);
text-decoration: none;
padding-right:50px;
padding-left:50px;
padding-top:10px;
padding-bottom: 10px;
border-radius: 5px;
font-style: bold;
width:50px;
}
#overlay{
  background-color: rgba(0,0,0,0.2);
}
