.banner {
  background-image: linear-gradient(
      rgba(237, 121, 250, 0.171),
      rgba(148, 94, 241, 0.572)
    ),
    asset-url("BL4A8507.JPG");
  background-size: cover;
  background-position: center;
  padding: 230px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-category-home {
  color: white;
  background-color: rgba(43, 11, 83, 0.7);
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-style: bold;
  width: 100px;
  font-size: 40px;
  font-family: "Koulen", cursive;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.banner::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.row h3 {
  font-family: "Koulen", cursive;
  margin-bottom:0px;
}

.remixes{
  border-style: solid;
  border-color:rgba(43, 11, 83, 0.7);
  border-width:thick;
}
