<div class="text-center p-3">
<h1><%= @crate.name %></h1>
<%= link_to 'Add a Song', songs_path, class: "btn btn-primary"  %>
</div>
  <%= render 'crates/card', crate_songs: @crate.crate_songs  %>
<%= link_to 'Back to Crates', user_path(current_user), class: 'btn btn-primary' %>
