<h1><%= @crate.name %></h1>
<%= link_to 'Add a Song', songs_path  %>



  <%= render 'crates/card', songs: @crate.songs  %>

<%= link_to 'Back to Crates', user_path(current_user), class: 'btn btn-primary' %>
