<h1><%= @crate.name %></h1>
<%= link_to 'Add a Song', songs_path  %>

<% @crate.songs.each do |song| %>
<p><%= song.title %></p>

<% end %>
<%= link_to 'Back to Crates', user_path(current_user), class: 'btn btn-primary' %>
