<div class="user-avatar">
<% if user.photo.attached? %>
  <%=cl_image_tag(user.photo.key)%>
<% else %>
  <%= image_tag "https://avatars.githubusercontent.com/u/130570205?v=4", class: "avatar", alt: "dropdown menu" %>
<% end %>
</div>
