<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok" style="color: #ffffff;"></i></a>
  </div>
