<footer class="footer">
  <span class="footer-brand">FLIP IT! &mdash; Community Music Library</span>
  <div class="footer-links">
    <a href="https://www.instagram.com/monsieurjovoni/" target="_blank" rel="noopener" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/Monsieurjovoni" target="_blank" rel="noopener" aria-label="Facebook">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    <a href="https://twitter.com/monsieurjovoni" target="_blank" rel="noopener" aria-label="Twitter / X">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="https://www.tiktok.com/@monsieurjovoni" target="_blank" rel="noopener" aria-label="TikTok" class="tiktok">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </div>
</footer>
