<div class="loader" data-loader-target="spinner">
<!--   <p class="counter"></p> -->
  <div class="spinner-border text-info" role="status" style="width: 10rem; height: 10rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
