<div class="d-none" data-playlist-popup-target="form">
  <%= simple_form_for crate_song do |f| %>
    <%= f.input :song_id,  input_html: {value: song.id, type: "hidden"}, label: false %>
    <%= f.association :crate %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
