<div class="remix-card">
  <img src=  " <%=song.photo.attached? ? cl_image_path(song.photo.key) : "https://source.unsplash.com/random/?<#{song.title.gsub(" ", " ")}" %> " alt="" class="song-image">
  <audio controls>
    <source src="<%=song.audio_file.url %>" type="audio/wav">
  </audio>
  <div>
    <div class="remix-card-infos">
      <p class="remix-button">remix</p>
      <h2><%= song.title %></h2>
      <%=song.user.artist_name  %>
    </div>
    <h2 class="remix-card-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="remix-card-user avatar-bordered" />
  </div>
</div>
