<div class="container">
  <div class="row justify-content-center">
    <%# <div class="col col-sm-12 col-md-12"> %>
    <h1 class="text-center my-4">Community Crates</h1>
    <div class="row">
      <div class="col-12 col-lg-6">
        <%= render 'songs/card', songs: @songs  %>
      </div>
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-wrap justify-content-around">
          <%= render 'songs/remix_card', songs: @songs  %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# </div> %>
