<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-12">
      <h1 class="text-center my-4">Community Crates</h1>
      <%= render 'songs/card', songs: @songs  %>
    </div>
  </div>
</div>
