<div class="container">
  <% if @song.remix?%>
    <%= render 'songs/remix_card', song: @song, crate_song: false  %>
  <% else %>
    <%=render 'songs/card', song: @song, crate_song: false  %>
  <% end %>
</div>
