<div class="overlay">
  <div class="banner" >
    <div class="container">
      <h1>Unite Musicians - Create, Remix, and Showcase!</h1>
      <p>Welcome to FLIP IT!, the ultimate collaborative music platform</p>
      <%= link_to 'DIG CRATES', songs_path, class: 'card-category-home'%>
    </div>
  </div>
</div>
<div class='row m-3'>
  <div class='col'>
    <h3>GEMS</h3>
    <% @originals.each do |song| %>
      <%= render 'songs/card', song: song, crate_song: false %>
    <% end %>
  </div>
  <div class='col'>
    <h3>LATEST TRACKS</h3>
    <% @songs.take(5).each do |song| %>
      <%= render 'songs/card', song: song, crate_song: false   %>
    <% end %>
  </div>
</div>
