<div class="overlay">
  <div class="banner" >
    <div class="container">
      <h1>Unite Musicians - Create, Remix, and Showcase!</h1>
      <p>Welcome to FLIP IT!, the ultimate collaborative music platform</p>
      <%= link_to 'DIG CRATES', songs_path, class: 'card-category-home'%>
    </div>
  </div>
</div>
