<div class="banner mb-5" >
  <div class="container">
    <h1>Unite Musicians - Create, Remix, and Showcase!</h1>
    <p>Welcome to FLIP IT!, the ultimate collaborative music platform</p>
    <%= link_to 'DIG CRATES', songs_path, class: 'card-category-home'%>
  </div>
</div>
<div class="row m-3">
  <h3>LATEST Remixes</h3>
  <div class="remixes">
    <div class="d-flex flex-wrap justify-content-between">
      <% @remixes.take(4).each do |song| %>
        <%= render 'songs/remix_card', song: song, crate_song: false %>
      <% end %>
    </div>
  </div>
</div>
<div class='row m-3'>
  <div class='col'>
    <h3>FAN FAVORITES</h3>
    <p>Find inspiration for your next remixes </p>
    <% @originals.take(5).each do |song| %>
      <%= render 'songs/card', song: song, crate_song: false %>
    <% end %>
  </div>
  <div class='col'>
    <h3>LATEST TRACKS</h3>
    <p>Explore our most recent uploaded songs </p>
    <% @songs.take(5).each do |song| %>
      <%= render 'songs/card', song: song, crate_song: false   %>
    <% end %>
  </div>
</div>
