<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lh3.googleusercontent.com/5vUDxuNXRemN23gsvGhyvjtH6DfpEL6CIAtqTrlwC_I8q2Ja-Resp6qpR_jIJXuD8Y8RP_MtjSdaAflcCMuHno1Cd-H0mTmz-fRJJntW);">
  <div class="container">
    <h1>Unite Musicians - Create, Remix, and Showcase!</h1>
    <p>Welcome to FLIP IT!, the ultimate collaborative music platform</p>
     <%= link_to 'DIG', root_path, class: 'card-category-home'%>
  </div>
</div>
