<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(app/assets/images/BL4A8507.JPG);">
  <div class="container">
    <h1>Unite Musicians - Create, Remix, and Showcase!</h1>
    <p>Welcome to FLIP IT!, the ultimate collaborative music platform</p>
     <%= link_to 'DIG', songs_path, class: 'card-category-home'%>
  </div>
</div>
