body {
  // background: linear-gradient(to bottom , $off-white, $faded-mild-black);
  //   background: linear-gradient(
  //     to bottom,
  //     rgba(43, 11, 83, 0.8),
  //     rgba(43, 11, 83, 0.5)

  //   );
  // background: linear-gradient(
  //   to bottom,
  //   rgba(0, 0, 0, 0.8),
  //   rgba(43, 11, 83, 0.5)
  // );
  background: linear-gradient(
    rgba(237, 121, 250, 0.171),
    rgba(148, 94, 241, 0.572)
  );
}

h1,
h2,
h3,
p {
  color: white;
  font-family: $navbar-font;
}
