.card-buttons {
  color: black;
}

.card-buttons:hover {
  cursor: pointer;
}

.play-button,
.pause-button {
  font-size: 35px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  opacity: .8;
  position: absolute;
  left:20px;
}
.genre-button{
  height:25px;
  width:75px;
  border-radius: 30px;
  background-color:$purple;
  opacity: .6;
  color:white;
  // flex-flow: wrap;
  text-align: center;
  border: 2px solid purple;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 4px auto;
  padding: 2px 2px;
  position:absolute;
  top: 10px;
  right: 10px;
  p{
    color:white;
    font-size:8px;

  }
}
.instrument-button{
  height:25px;
  width:75px;
  border-radius: 30px;
  background-color:$purple;
  opacity: .6;
  color:white;
  // display:flex;
  text-align:center;
  border: 2px solid purple;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  margin: 4px auto;
  padding: 2px 2px;
  position:absolute;
  top: 10px;
  right:90px;
  p{
    color:white;
    font-size:8px;

  }
}
