.card-buttons {
  color: black;
  margin-right: 3px;
}

.card-buttons:hover {
  cursor: pointer;
}

.add-music {
  font-size: 40px;
  color: white
}

.play-button,
.pause-button {
  font-size: 50px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.go-back-button {
  font-size: 40px;
  color: white
}

.song-pills {
  display: flex;
  gap:4px;
  justify-content: flex-end;
}
.remix-pills {
  display: flex;
  gap:4px;
  position: absolute;
  top:10px;
  right:10px;
  // justify-content: flex-end;
}


.delete-button {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}
