.card-buttons {
  color: black;
}

.card-buttons:hover {
  cursor: pointer;
}

.play-button,
.pause-button {
  font-size: 40px; /* Adjust the font size as needed */
  color: #000000;
  cursor: pointer;
  padding: 5px;
}
