.card-buttons {
  color: black;
}

.card-buttons:hover {
  cursor: pointer;
}

.play-button,
.pause-button {
  font-size: 40px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  opacity: .8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.song-pills {
  display: flex;
  gap:4px;
  justify-content: flex-end;
}
.remix-pills {
  display: flex;
  gap:4px;
  // justify-content: flex-end;
}
