
.song-card {
  overflow: hidden;
  margin: 10px 0px;
  height: 120px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 12px;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 20px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color:black;
  }
  h3 {
    font-size: 8px;
    font-weight: bold;
    margin: 0;
    color:black;
  }

   p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color:black;
  }
   .song-card-infos {
    padding: 16px 16px;
    margin: 8px 0px;
    align-items: center;
  }
   img {
    height: 100%;
    width: 80px;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));

  }

}




.remix-card {
  overflow: hidden;
  margin: 10px 0px;
  height: 350px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 12px;
  align-items: center;
  position:relative;
  // margin-top: 3px;
  // margin-bottom: 20px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color:black;
  }
  h3 {
    font-size: 8px;
    font-weight: bold;
    margin: 0;
    color:black;
  }
  .bpm-sticker {
    background-color: yellowgreen;
    position:absolute;
    width: 80px;
    padding: 4px 4px;
    border-radius: 4px;
    top: 10px;
    left:10px;
  }

   p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color:black;
  }
   .remix-card-infos {
    padding: 16px 16px;
    margin: 8px 0px;
    align-items: center;
  }
   img {
    height: 100%;
    width: 80px;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));

  }

}

// .song-block{
//   width: 300px;
//   height: 80px;
//   // position: absolute;
//   background-color: rgba(48, 16, 48, 0.279);
// }






// .remix-card{
//   color:black;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   size: 15px;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   height: 200px;
//   width:200px;
// }

.result-container{
  display:flex !important;
  gap:50px;
}

.crates-category {
  background-size: cover;
  background-position: center;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width:270px;

}


.crate-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;
}

.filter-container{
width:250px;
border-radius: 10px;
margin-right:50px;
margin-top:50px;
margin-left: 50px;
padding: 20px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
audio {
  display: block;
  width: 300px;
  max-width: 300px;
  margin: 0 auto;
  opacity: .8;
}

audio::-webkit-media-controls-panel {
  background-color: $purple;
  border-radius: 8px;
  padding: 10px;

}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;

}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
  color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
