.song-card {
  overflow: hidden;
  margin: 10px 0px;
  height: 120px;
  width: 600px;
  background: linear-gradient(to bottom, $off-white, $purple-haze);
  opacity: 0.8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 12px;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 20px;

  .bpm-sticker {
    background-color: #ffd700;
    // position:absolute;
    display: flex;
    align-items: center;
    // width: 80px;
    padding: 4px 4px;
    border-radius: 4px;
    // top: 10px;
    // left:10px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
  }
  .song-card-infos {
    // padding: 16px 16px;
    // margin: 8px 0px;
    display: flex;
    height: 100%;
    // align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px;

    // justify-content: space-between;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
  .song-audio {
    position: relative;
    height: 100%;
  }
}

.remix-card {
  overflow: hidden;
  margin: 10px 0px;
  height: 350px;
  gap: 4px;
  width: 300px;
  background: $off-white;
  opacity: 0.8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  // align-items: center;
  position: relative;
  // margin-top: 3px;
  // margin-bottom: 20px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    color: black;
    text-shadow: #fc0 1px 0 p3x;
  }
  .remix-bpm-sticker {
    background-color: #ffd700;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 4px 4px;
    border-radius: 4px;

    p {
      font-size: 10px;
      margin: 0;
      color: white;
    }
    .remix-card-infos {
      width: 100%;
    }
    .remix-audio {
      height: 100%;
      width: 100%;

      input {
        bottom: 15%;
      }
    }
    .artist-info {
      background-color: $off-white;
      display: flex;
      flex-direction: column;
      border-style: inset;
      padding: 4px 4px;
      border-radius: 4px;
    }
    .no-decoration {
      text-decoration: none; /* Remove underlining */
      color: inherit; /* Use the default color */
    }
    .hover-effect:hover {
      color: #ff9900; /* Change the color on hover */
      /* Add other hover effects here */
    }
    .remix-engagement {
      padding: 8px;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.crates-song-card {
  overflow: hidden;
  margin: 10px 0px;
  height: 120px;
  width: 80%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 12px;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
audio {
  display: block;
  width: 300px;
  max-width: 300px;
  margin: 0 auto;
  opacity: 0.8;
}

audio::-webkit-media-controls-panel {
  background-color: $purple;
  border-radius: 8px;
  padding: 10px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
  color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
