.footer {
  background: rgb(33, 34, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
}
.footer-links {
  color:white;
  text-decoration: none;
  font-size: 40px;
  padding: 0px;
  align-items: center;
  margin:0px;
}

.footer-links a:hover {
  opacity: 1;
}
