.form-container {
    max-width: 200px;
    padding: 10px;
    background-color: $off-white;
    opacity: 0.8;
    margin-bottom: 20px;
    border-radius: 8px;


  }

  .submit{
    font-family: "Koulen", cursive;
    background-color: rgba(43, 11, 83, 0.7);
    border-radius: 10%;
    border: rgba(43, 11, 83, 0.7);
  }

  .submit:hover, a:active {
    color: rgba(43, 11, 83, 0.7);
    transition: 0.7s;
    background-color: white;
    border-radius: 10%;
    border: rgba(43, 11, 83, 0.7);
  }

  #songs_form{
    font-family: "Koulen", cursive;
  }

.remix-form-background {
  background-color: #EBD3FC;
  border-radius: 0 0 8px 8px;
}

.remix-form-header {
  border-radius: 8px 8px 0 0;
}
