.result-container{
  display:flex !important;
  gap:50px;
}

.crates-category {
  background-size: cover;
  background-position: center;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width:270px;

}
.crate-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;
}

.artist-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;
}

.artist-category{
  background-size: cover;
  background-position: center;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width:270px;

}

.filter-container{
  width:250px;
  border-radius: 10px;
  margin-right:50px;
  margin-top:50px;
  margin-left: 50px;
  padding: 20px;

  }
